<!DOCTYPE html>
<html lang="en">
<head>
    <%
    var title, body, head_tag, script;
    const printOrDefault = (input, alt = '') => {
        return input !== undefined && input !== null ? input : alt;
    };
    %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <%- printOrDefault(head_tag) %>
    <title><%- printOrDefault(title) %></title>
</head>
<body>
    <% const begin = "./" %>
    <%- include(`${begin}sidebar.ejs`) %>
    <%- include(`${begin}header.ejs`) %>


    <main dir="rtl">
        <section class="p-7">
            <section class="card-body bg-white drop-shadow-lg rounded-md min-h-[80vh]">
                <%- printOrDefault(body) %>
            </section>
        </section>
        <%- include(`${begin}footer.ejs`) %>
    </main>

    <script type="module" src="/js/index.js"></script>
    <%- printOrDefault(script) %>
</body>
</html>